

body{
    background-color: aquamarine;
}
img {
    height: 350px;
    width: 200px;
}
#newsBtn{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 50%;
    margin: 2px;     
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

#displayUL{
    color:darkblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    padding-left: 29%;
}
@media (min-width: 768px) {
    .buttons {
        flex-direction: row; 
    }
    img {
        width: 40%;
    }
}